{% extends 'base_login.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/style.css' %}" />
<style>
  .box {
    height: 320px;
  }
  .box::before {
    height: 320px;
  }
  .box::after {
    height: 320px;
  }
</style>
<script>
  setTimeout(() => {
    const wiadomosc = document.getElementById("wiadomosc");
    wiadomosc.style.display = "none";
  }, 7000);
</script>
<link rel="stylesheet" href="{% static '/star.css' %}" />
<div class="box">
  <div class="form">
    <a href="{% url 'home' %}" style="text-decoration: none"><h1>Maikfy</h1></a>
    <h2>Password Reset</h2>
    {% if messages %} {% for message in messages %}
    <div class="wiadomosc" id="wiadomosc">{{ message }}</div>
    {% endfor %} {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div class="inputBox">
        <input type="email" required="required" name="email" />
        <span>E-Mail: </span>
        <i></i>
      </div>
      <div class="links">
        <a></a>
        <a href="{% url 'login' %}">Back to login</a>
      </div>
      <input type="submit" value="Reset my password" />
    </form>
  </div>
</div>
<script src="{% static '/app3D.js' %}"></script>
{% endblock %}
