{% extends 'base_login.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/style.css' %}" />
<style>
  .box {
    height: 500px;
  }
  .box::before {
    height: 500px;
  }
  .box::after {
    height: 500px;
  }
</style>
<link rel="stylesheet" href="{% static '/star.css' %}" />
<div class="box">
  <div class="form">
    <a href="{% url 'home' %}" style="text-decoration: none"><h1>Maikfy</h1></a>
    <h2>Password Reset</h2>
    {% if validlink %}
    <div class="wiadomosc" style="text-indent: 1em">
      {{ form.new_password1.errors }} {{ form.new_password2.errors }}
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="inputBox">
        <input
          type="password"
          name="new_password1"
          autocomplete="new-password"
          required
          id="id_new_password1"
        />
        <span>New Password: </span>
        <i></i>
      </div>
      <div class="inputBox">
        <input
          type="password"
          name="new_password2"
          autocomplete="new-password"
          required
          id="id_new_password2"
        />
        <span>Confirm New Password: </span>
        <i></i>
      </div>
      <br /><br />
      <input type="submit" value="Confirm" />
    </form>
    {% else %}
    <style>
      .box {
        height: 300px;
      }
      .box::before {
        height: 300px;
      }
      .box::after {
        height: 300px;
      }
      .form h2 {
        font-weight: 600;
        font-size: 10px;
      }
    </style>
    <br />
    <h2>
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </h2>
    <br />
    <a href="{% url 'login' %}">
      <input type="submit" value="Back to login" />
    </a>
    {% endif %}
  </div>
</div>
<script src="{% static '/app3D.js' %}"></script>
{% endblock %}
