{% extends 'base_login.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/style.css' %}" />
<style>
  .box {
    height: 280px;
  }
  .box::before {
    height: 280px;
  }
  .box::after {
    height: 280px;
  }
  .form h2 {
    font-weight: 600;
    font-size: 10px;
  }
</style>
<script>
  setTimeout(() => {
    const wiadomosc = document.getElementById("wiadomosc");
    wiadomosc.style.display = "none";
  }, 7000);
</script>
<link rel="stylesheet" href="{% static '/star.css' %}" />
<div class="box">
  <div class="form">
    <a href="{% url 'home' %}" style="text-decoration: none"><h1>Maikfy</h1></a>
    <br />
    <h2>
      We’ve emailed you instructions for setting your password, if an account
      exists with the email you entered. You should receive them shortly. If you
      don’t receive an email, please make sure you’ve entered the address you
      registered with, and check your spam folder.
    </h2>
    <div class="links">
      <a></a>
      <br />
      <a href="{% url 'login' %}">Back to login</a>
    </div>
  </div>
</div>
<script src="{% static '/app3D.js' %}"></script>
{% endblock %}
