{% extends 'base_login.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/style.css' %}" />
<style>
  .box {
    height: 270px;
  }
  .box::before {
    height: 270px;
  }
  .box::after {
    height: 270px;
  }
  .form h2 {
    font-weight: 600;
    font-size: 10px;
  }
</style>
<script>
  setTimeout(() => {
    const wiadomosc = document.getElementById("wiadomosc");
    wiadomosc.style.display = "none";
  }, 7000);
</script>
<link rel="stylesheet" href="{% static '/star.css' %}" />
<div class="box">
  <div class="form">
    <a href="{% url 'home' %}" style="text-decoration: none"><h1>Maikfy</h1></a>
    <br />
    <h2>Password reset complete</h2>
    <h2>Your password has been set. You may go ahead and log in now.</h2>
    <div class="links">
      <a></a>
      <a></a>
    </div>
    <a href="{% url 'login' %}">
      <input type="submit" value="Back to login" />
    </a>
  </div>
</div>
<script src="{% static '/app3D.js' %}"></script>
{% endblock %}
